@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--black);
  height: 99dvh;
}

.container {
  width: 1440px;
  height: 1029px;
  background-color: var(--white);
  position: relative;
  padding: 84px 160px 64px 160px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color:whitesmoke;
  color: var(--black);
}

.bento-main-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 256px);
  grid-template-rows: 320px 62px 154px 248px;
  grid-auto-flow: column;
  gap: 32px;
}


.box {
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.one {
  grid-column: 1;
  grid-row: 1/3;
  background-color: var(--yellow-100);
  padding: 78px 32px;
  gap: 26px
}

.two {
  grid-column: 1;
  grid-row: 3/5;
  background-color: var(--yellow-500);
  justify-content: space-between;
}

.three {
  grid-column: 2/4;
  grid-row: 1;
  background-color: var(--purple-500);
  align-items: center;
  color: var(--white);
  padding: 56px;
  img{
    margin-top: 28px;
    width: 45%;
    margin-bottom: 7px;
  }
}

.four {
  grid-column: 2;
  grid-row: 2/4;
  background-color: var(--white);
  gap: 16px;
  img{
    width: 150%;
  }
}

.five {
  grid-column: 2;
  grid-row: 4;
  background-color: var(--white);
  align-items: flex-start;
  gap: 16px;
  img {
    margin-top: 16px;
    height: 68px;
  }
}

.six {
  grid-column: 3;
  grid-row: 2/4;
  background-color: var(--yellow-500);
  img {
    margin-top: 16px;
  }
}

.seven {
  grid-column: 3/5;
  grid-row: 4;
  background-color: var(--purple-500);
  flex-direction: row;
  justify-content: space-between;
  color: var(--white);
  gap: 6px;
  h2 {
    font-weight: 450;
    letter-spacing: 0px;
    margin: auto;
  }
  
}

.eight {
  grid-column: 4;
  grid-row: 1/4;
  background-color: var(--purple-100);
  padding-top: 60px;
  gap: 16px;
  font-weight: 550;
  img {
    width: 180%;
  }
}

h1 {
  font-size: 56px;
  font-weight: 550;
  line-height: 56px;
  text-align: center;
}

h1 span {
  color: var(--yellow-500);
}

h2 {
  font-size: 42px;
  font-weight: 550;
  line-height: 36px;
  letter-spacing: -2px;
}

h2 span {
  color: var(--purple-500);
  font-style: italic;
}

h3 {
  font-size: 32px;
  font-weight: 550;
  line-height: 30px;
  letter-spacing: -2px;
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 4px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 960px) {
  body {
    height: auto;
  }
  .container {
    width: 375px;
    height: auto;
    padding: 32px 16px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color:whitesmoke;
    color: var(--black);
  }
  
  .bento-main-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 290px 162px 218px 470px 372px 218px 237px 352px;
    grid-auto-flow: column;
    gap: 32px;
  }

  .box {
    grid-column: 1;
    border-radius: 12px;
    padding: 16px;
  }
  
  .one {
    grid-row: 7;
    padding: 32px;
    gap: 26px;
    img {
      width: 65%;
    }
  }

  .two {
    grid-row: 8;
    background-color: var(--yellow-500);
    padding: 16px 24px;
    gap: 12;
    img {
      width: 80%;
    }
  }

  .three {
    grid-row: 1;
    padding: 32px;
    img{
      margin-top: 20px;
      width: 70%;
    }
  }

  .four {
    grid-row: 2;
    img{
      width: 100%;
    }
  }

  .five {
    grid-row: 6;
    background-color: var(--white);
    align-items: flex-start;
    gap: 16px;
    img {
      margin-top: 16px;
      height: 68px;
    }
  }

  .six {
    grid-row: 3;
    img {
      margin-top: 12px;
      width: 65%;
    }
  }

  .seven {
    grid-row: 5;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 24px 56px;
    gap: 32px;
    img {
      width: 100%;
    }
  }

  .eight {
    align-items: center;
    grid-row: 4;
    padding-top: 32px;
    img {
      width: 100%;
    }
    p {
      text-align: center;
      padding: 0px 16px;
    }
  }

  h1 {
    font-size: 48px;
    font-weight: 550;
    line-height: 48px;
    text-align: center;
  }
  
  h1 span {
    color: var(--yellow-500);
  }
  
  h2 {
    font-size: 32px;
    font-weight: 550;
    line-height: 28px;
    letter-spacing: -2px;
  }
  
  h2 span {
    color: var(--purple-500);
    font-style: italic;
  }
  
  h3 {
    font-size: 28px;
    font-weight: 550;
    line-height: 28px;
    letter-spacing: -2px;
  }

}